<div class="space-y-4">
  {{#if comments.length}}
    {{#each comments}}
    <div class="border-l-2 pl-4 py-1
      {{#if this.isFinding}}border-red-500{{/if}}
      {{#if this.isBlock}}border-yellow-500{{/if}}
      {{#if this.isComplete}}border-green-500{{/if}}
      {{#if this.isMove}}border-cyan-500{{/if}}
      {{#if this.isJournal}}border-gray-600{{/if}}
      {{#if this.isOther}}border-gray-700{{/if}}
    ">
      <div class="flex items-center gap-2 text-xs mb-1">
        <span class="font-semibold text-gray-300">{{this.author}}</span>
        <span class="px-1.5 py-0.5 rounded text-[10px] font-medium
          {{#if this.isFinding}}bg-red-500/20 text-red-400{{/if}}
          {{#if this.isBlock}}bg-yellow-500/20 text-yellow-400{{/if}}
          {{#if this.isComplete}}bg-green-500/20 text-green-400{{/if}}
          {{#if this.isMove}}bg-cyan-500/20 text-cyan-400{{/if}}
          {{#if this.isJournal}}bg-gray-500/20 text-gray-400{{/if}}
          {{#if this.isOther}}bg-gray-500/20 text-gray-400{{/if}}
        ">{{this.type}}</span>
        <span class="text-gray-500">{{relativeTime this.created_at}}</span>
      </div>
      {{#if this.body}}
      <div class="text-sm text-gray-300 whitespace-pre-wrap">{{this.body}}</div>
      {{/if}}
    </div>
    {{/each}}
  {{else}}
    <div class="text-sm text-gray-500 italic">No comments yet.</div>
  {{/if}}
</div>
